@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth;
}

button {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  /* margin: 0;
  padding: 0; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

p {
  line-height: 1.5rem;
}